<div class="col-sm-6 col-md-3">
  <div class="well well-sm">
    <div class="text-center">
      <%= image_tag attachment_url(user, :profile_image, class: "img-responsive", format: "jpg", fallback: "default2.png", class: "img-responsive")  %>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-9">
  <div class="well well-lg user-info-well">
    <div class="row">
      <div class="col-xs-12">
        <h2><%= user.username %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>Height: <%= user.feet %>'<%= user.inches %>"</h4>
      </div>
      <div class="col-sm-4">
        <h4>Start Weight: <%= user.starting_weight %></h4>
      </div>
      <div class="col-sm-4">
        <h4>Start BMI: <%= user.start_bmi %></h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <% if user.current_plan %>
          <h4>Current Plan: <a href="/plans/<%= user.current_plan.id %>"><%= user.current_plan.title %></h4></a>
        <% else %>
          <h4>Current Plan: N/A</h4>
        <% end %>
      </div>
      <div class="col-sm-4">
        <h4>Current Weight: <%= user.current_weight %></h4>
      </div>
      <div class="col-sm-4">
        <h4>Current BMI: <%= user.current_bmi %></h4>
      </div>
    </div>
  </div>
</div>
