<div class="well well-lg">
  <div class="row">
    <div class="col-xs-6">
      <a class="col-xs-12" href="/users/<%= subscription.user.id %>">
        <h2><%= subscription.user.username %></h2>
      </a>
      <div class="col-xs-12">
        <p><%= subscription.expectations %></p>
      </div>
    </div>
    <div class="col-xs-6">
      <ul class="nav nav-tabs nav-justified categories" role="tablist">
        <li role="presentation" class="active"><a href="#subweight<%= subscription.id %>" aria-controls="subweight" role="tab" data-toggle="tab">Weight</a></li>
        <li role="presentation"><a href="#subbmi<%= subscription.id %>" aria-controls="subbmi" role="tab" data-toggle="tab">B.M.I</a></li>
      </ul>
      <div class="chart">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="subweight<%= subscription.id %>">
            <%= line_chart subscription.user.check_ins.group_by_week(:created_at).sum(:weight), min: nil, max: nil, discrete: true %>
          </div>
          <div role="tabpanel" class="tab-pane" id="subbmi<%= subscription.id %>">
            <%= line_chart subscription.user.check_ins.group_by_week(:created_at).sum(:new_bmi), min: nil, max: nil, discrete: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <% if subscription.rating %>
        <h4>Rating: <%= subscription.rating.value %>/5</h4>
      <% else %>
        <h4>Rating: N/A</h4>
      <% end %>
    </div>
    <div class="col-xs-4">
      <h4>Start Weight: <%= subscription.start_weight %></h4>
    </div>
    <div class="col-xs-3">
      <h4>Starting BMI: <%= subscription.start_bmi %></h4>
    </div>
  </div>
</div>
