<div class="well well-lg" id="<%= plan.id %>">
  <div class="row">
    <div class="col-xs-6">
      <a class="col-xs-12" href="/plans/<%= plan.id %>">
        <h2><%= plan.title %></h2>
      </a>
      <div class="col-xs-12">
        <p><%= plan.overview %></p>
      </div>
    </div>
    <div class="col-xs-6">
      <% if plan.check_ins.any? %>
        <h4 class="text-center">Average Check-Ins</h4>
        <ul class="nav nav-tabs nav-justified categories" role="tablist">
          <li role="presentation" class="active"><a href="#planweight<%= plan.id %>" aria-controls="planweight" role="tab" data-toggle="tab">Weight</a></li>
          <li role="presentation"><a href="#planbmi<%= plan.id %>" aria-controls="planbmi" role="tab" data-toggle="tab">B.M.I</a></li>
        </ul>
        <div class="chart">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="planweight<%= plan.id %>">
              <%= line_chart weight_chart_plan_path(plan), min: nil, max: nil, discrete: true, id: "weight_chart_#{plan.id}" %>
            </div>
            <div role="tabpanel" class="tab-pane" id="planbmi<%= plan.id %>">
              <%= line_chart bmi_chart_plan_path(plan), min: nil, max: nil, discrete: true, id: "bmi_chart_#{plan.id}" %>
            </div>
          </div>
        </div>
      <% else %>
        <h4 class="text-center">No Data Available</h4>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <h4>Rating: <%= plan.rating %>/5</h4>
    </div>
    <div class="col-xs-4">
      <h4>Category: <%= plan.category.title %></h4>
    </div>
    <div class="col-xs-3">
      <h4>Total Subscribers: <%= plan.subscriptions.count %></h4>
    </div>
    <div class="col-xs-1 subbutton">
      <% if plan.is_subscribed(current_user) %>
        <a class="btn btn-primary" href="/plans/<%= plan.id %>" role="button">Current Plan</a>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SubscribeModal<%= plan.id %>">Subscribe</button>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade subscribe-modal" id="SubscribeModal<%= plan.id %>" tabindex="-1" role="dialog" aria-labelledby="SubscribeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Subscribe to <%= plan.title %></h4>
      </div>
      <div class="modal-body">
        <% if current_user %>
          <%= render partial: 'subscriptions/newsub', locals: {plan: plan} %>
        <% else %>
          <h4>You must be logged in to subscribe to a plan</h4>
          <hr>
          <h5>Login:</h5>
          <%= render partial: 'layouts/login' %>
          <br>
          <h5>Register:</h5>
          <%= render partial: 'layouts/user' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
