<div>
  <ul class="nav nav-tabs nav-justified categories" role="tablist">
    <li role="presentation" class="active"><a href="#weightloss" id="weightlosstab" aria-controls="weightloss" role="tab" data-toggle="tab">Weight Loss</a></li>
    <li role="presentation"><a href="#weightgain" id="weightgaintab" aria-controls="weightgain" role="tab" data-toggle="tab">Weight Gain</a></li>
    <li role="presentation"><a href="#musclemass" id="musclemasstab" aria-controls="musclemass" role="tab" data-toggle="tab">Muscle Mass</a></li>
  </ul>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active diet_category" id="weightloss">
    <%= render @loss_plans %>
    <%= paginate @loss_plans, :params => {:category => "Weight Loss"}, :remote => true %>
  </div>
  <div role="tabpanel" class="tab-pane diet_category" id="weightgain">
    <%= render @gain_plans %>
    <%= paginate @gain_plans, :params => {:category => "Weight Gain"}, :remote => true %>
  </div>
  <div role="tabpanel" class="tab-pane diet_category" id="musclemass">
    <%= render @mass_plans %>
    <%= paginate @mass_plans, :params => {:category => "Muscle Mass"}, :remote => true %>
  </div>
</div>
