<!DOCTYPE html>
<html>
  <head>
    <title>LiveDiet</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid main-nav">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= image_tag "biglogo.png", class: "img-responsive"%>
          </a>
        </div>
        <div class="col-md-10 hidden-sm hidden-xs">
          <h1 class="text-center">LiveDiet</h1>
        </div>
        <div class="dropdown">
          <button class="btn btn-lg dropdown-toggle" type="button" id="welcome-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
          <% if current_user %>
            <ul class="dropdown-menu bullet pull-right" aria-labelledby="welcome-dropdown">
              <li><a href="/plans">All Plans</a></li>
              <% if current_user.current_plan %>
                <li><a href=<%= plan_path(current_user.current_plan) %>>Current Plan</a></li>
              <% end %>
              <li><a href=<%= user_path(current_user) %>>Your Profile</a></li>
              <li class="hidden-md hidden-lg">
                <a href="#" data-toggle="modal" data-target="#AllChecksModal"><h5>Your Check Ins</h5></a>
              </li>
              <% if current_user.subscriptions.reject{|x| x.plan.nil?}.any? %>
                <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Plans</a>
                  <ul class="dropdown-menu">
                    <% current_user.subscriptions.reject{|x| x.plan.nil?}.each do |x| %>
                      <li class="menu-item "><a href="/plans/<%= x.plan.id %>"><%= x.plan.title %></a></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              <li class="hidden-md hidden-lg">
                <a href="#" data-toggle="modal" data-target="#LogModal"><h5>New Log</h5></a>
              </li>
              <li class="hidden-md hidden-lg">
                <a href="#" data-toggle="modal" data-target="#CheckinModal"><h5>New Check In</h5></a>
              </li>
              <li class="hidden-md hidden-lg">
                <a href="#" data-toggle="modal" data-target="#PlanModal"><h5>Create Plan</h5></a>
              </li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="dropdown-menu bullet pull-right" aria-labelledby="welcome-dropdown">
              <li><a href="#" data-toggle="modal" data-target="#LoginModal">Login</a></li>
              <li><a href="#" data-toggle="modal" data-target="#RegisterModal">Register</a></li>
              <li><a href="/plans">All Plans</a></li>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="container-fluid hidden-md hidden-lg user-nav">
        <br>
        <% if current_user %>
          <ul class="list-inline">
            <li>
              <h4>Welcome, <a href=<%= user_path(current_user) %>><%= current_user.username %></a></h4>
            </li>
            <li>
              <h4>Current Plan: <a href=<%= plan_path(current_user.current_plan) %>><%= current_user.current_plan.title %></a></h4>
            </li>
          </ul>
        <% else %>
          <ul class="list-inline">
            <li>
              <h4>Welcome to LiveDiet!</h4>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#LoginModal"><h5>Login</h5></a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#RegisterModal"><h5>Register</h5></a>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <br class="hidden-md hidden-lg">
    <br class="hidden-md hidden-lg">
    <br class="hidden-md hidden-lg">
    <br class="hidden-sm hidden-md hidden-lg">
    <br class="hidden-sm hidden-md hidden-lg">
    <br class="hidden-sm hidden-md hidden-lg">
    <div class="container-fluid main-body" >
      <% unless @disable_sidebar %>
        <div class="col-md-9"><%= yield %></div>
        <div class="col-md-3 hidden-sm hidden-xs sidebar" id="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="290">
          <% if current_user %>
            <h4 class="text-center">Welcome, <a href=<%= user_path(current_user) %>><%= current_user.username %></a></h4>
            <hr>
            <% if current_user.current_plan %>
              <div class="row">
                <h4 class="col-md-12">Current Plan: <a href=<%= plan_path(current_user.current_plan) %>><%= current_user.current_plan.title %></a></h4>
              </div>
              <div class="row">
                <h4 class="col-md-4">Rate Plan:</h4>
                <select id="subscription-rating" data-subscription="<%= current_user.current_subscription.id %>" data-plan="<%= current_user.current_plan.id %>">
                  <option value="0" <%= selected?(0) %> >0</option>
                  <option value="1" <%= selected?(1) %> >1</option>
                  <option value="2" <%= selected?(2) %> >2</option>
                  <option value="3" <%= selected?(3) %> >3</option>
                  <option value="4" <%= selected?(4) %> >4</option>
                  <option value="5" <%= selected?(5) %>>5</option>
                </select>
              </div>
              <% if current_user.check_ins.any? %>
                <div class="well well-sm sidebar_table">
                  <ul>
                    <ul class="list-inline row list_head">
                      <li class="col-md-4 text-left">Check-in Date</li>
                      <li class="col-md-4 text-center">Check-in Weight</li>
                      <li class="col-md-4 text-right">Check-in BMI</li>
                    </ul>
                    <div class="sidebar_table_contents">
                      <% current_user.check_ins.each do |check| %>
                        <ul class="list-inline row">
                          <li class="col-md-4 text-left"><%= check.created_at.strftime("%b %d, %Y") %></li>
                          <li class="col-md-4 text-center"><%= check.weight %></li>
                          <li class="col-md-4 text-center"><%= check.new_bmi %></li>
                        </ul>
                        <hr>
                      <% end %>
                    </div>
                  </ul>
                </div>
                <div class="well well-sm">
                  <%= line_chart current_user.check_ins.group_by_week(:created_at).sum(:weight), min: nil, max: nil, height: "180px", discrete: true %>
                </div>
              <% else %>
                <h5>Plan Overview:</h5>
                <div class="well well-sm sidebar-overview">
                  <p>
                    <%= current_user.current_plan.overview %>
                  </p>
                </div>
                <br>
                <h4 class="text-center">Let's Get Started!</h4>
                <hr>
              <% end %>
            <% else %>
              <h4>Current Plan: N/A</h4>
              <br>
              <div>
                <h4>Highest Ranking Plans:</h4>
                <br>
                <ul>
                  <li>
                    <h4>Weight Loss: <a href="/plans/<%= Plan.ranked_plans("Weight Loss").id %>"><%= Plan.ranked_plans("Weight Loss").title %></a></h4>
                  </li>
                  <br>
                  <li>
                    <h4>Weight Gain: <a href="/plans/<%= Plan.ranked_plans("Weight Gain").id %>"><%= Plan.ranked_plans("Weight Gain").title %></a></h4>
                  </li>
                  <br>
                  <li>
                    <h4>Muscle Mass: <a href="/plans/<%= Plan.ranked_plans("Muscle Mass").id %>"><%= Plan.ranked_plans("Muscle Mass").title %></a></h4>
                  </li>
                </ul>
              </div>
              <br>
              <hr>
              <br>
            <% end %>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#PlanModal">Create Plan</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#LogModal">Daily Log</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#CheckinModal">Check-in</button>
              </div>
            </div>
            <br>
            <div class="col-md-10 col-md-offset-1">
              <%= button_to "Logout", logout_path, method: :delete, :class => "btn btn-primary btn-block" %>
            </div>
          <% else %>
            <h4>Login:</h4>
            <%= render partial: "layouts/login" %>
            <br>
            <h4>Register:</h4>
            <%= render partial: "layouts/user", locals: {user: @user} %>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-12">
          <%= yield %>
        </div>
      <% end %>
    </div>
    <div class="footer">
      <div class="footer-top" id="footer">
        <div class="container">
          <div class="col-md-7 col-sm-6">
            <h3>About Us</h3>
            <p>
              Here at LiveDiet we strive for social health.
              By focusing on a supportive community driven by similar goals we hope to instill the confidence and drive in our users to succeed in whatever journey they find themselves on.
              A safe community, focused on goals and supporting one another. This is what we strive for.
            </p>
          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-6">
            <h3>Contact Us</h3>
            <p>
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <span class="glyphicon glyphicon-map-marker glyphicon-color"><strong> Address:</strong></span>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-8 footer-list">
                  475 E. Market Street,
                  <br class="hidden-xs">
                  Indianapolis, IN 46204
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <span class="glyphicon glyphicon-envelope glyphicon-color"><strong> Email:</strong></span>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-8 footer-list">
                  Rittersm@gmail.com
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <span class="glyphicon glyphicon-earphone glyphicon-color"><strong> Phone:</strong></span>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-8 footer-list">
                  (317)260-1521
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="col-md-8 col-sm-8">
            <ul class="list-inline list-color">
              <li><h5>Made With:</h5></li>
              <li>
                <i class="devicon-rails-plain"></i>
              </li>
              <li>
                <i class="devicon-javascript-plain"></i>
              </li>
              <li>
                <i class="devicon-postgresql-plain"></i>
              </li>
              <li>
                <i class="devicon-html5-plain"></i>
              </li>
              <li>
                <i class="devicon-sass-original"></i>
              </li>
              <li>
                <i class="devicon-bootstrap-plain"></i>
              </li>
              <li>
                <i class="devicon-atom-original"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3">
            <ul class="list-inline list-color">
              <li><h5>Find Us:</h5></li>
              <li>
                <a href="https://github.com/Rittersm"><i class="devicon-github-plain"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/sean-ritter-b9b07a2a?trk=hp-identity-name"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <% if current_user %>
      <div class="modal fade" id="PlanModal" tabindex="-1" role="dialog" aria-labelledby="PlanModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create New Plan:</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "plans/newplan" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="LogModal" tabindex="-1" role="dialog" aria-labelledby="LogModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Log Entry:</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "logs/newlog" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="CheckinModal" tabindex="-1" role="dialog" aria-labelledby="CheckinModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Check-In:</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "check_ins/newcheckin" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="AllChecksModal" tabindex="-1" role="dialog" aria-labelledby="AllChecksModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Your  Check Ins</h4>
            </div>
            <div class="modal-body">
              <ul>
                <ul class="list-inline row list_head">
                  <li class="col-md-4 text-left">Check-in Date</li>
                  <li class="col-md-4 text-center">Check-in Weight</li>
                  <li class="col-md-4 text-right">Check-in BMI</li>
                </ul>
                <div class="sidebar_table_contents">
                  <% current_user.check_ins.each do |check| %>
                    <ul class="list-inline row">
                      <li class="col-md-4 text-left"><%= check.created_at.strftime("%b %d, %Y") %></li>
                      <li class="col-md-4 text-center"><%= check.weight %></li>
                      <li class="col-md-4 text-center"><%= check.new_bmi %></li>
                    </ul>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless current_user %>
      <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "layouts/login" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "layouts/user", locals: {user: @user} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
