<!DOCTYPE html>
<html>
  <head>
    <title>LiveDiet</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/plans">
            <%= image_tag "biglogo.png", class: "img-responsive"%>
          </a>
        </div>
        <div class="col-xs-10">
          <h1 class="text-center">LiveDiet</h1>
        </div>
        <div class="dropdown">
          <button class="btn btn-lg dropdown-toggle" type="button" id="welcome-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
          <% if current_user %>
            <ul class="dropdown-menu bullet pull-right" aria-labelledby="welcome-dropdown">
              <li><a href="/plans">All Plans</a></li>
              <% if current_user.current_plan %>
                <li><a href=<%= plan_path(current_user.current_plan) %>>Current Plan</a></li>
              <% end %>
              <li><a href=<%= user_path(current_user) %>>Your Profile</a></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="dropdown-menu bullet pull-right" aria-labelledby="welcome-dropdown">
              <li><a href="#" data-toggle="modal" data-target="#LoginModal">Login</a></li>
              <li><a href="#" data-toggle="modal" data-target="#RegisterModal">Register</a></li>
              <li><a href="/plans">All Plans</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container-fluid" >
      <% unless @disable_sidebar %>
        <div class="col-xs-9"><%= yield %></div>
        <div class="col-xs-3 sidebar" id="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="290">
          <% if current_user %>
            <h4 class="text-center">Welcome, <a href=<%= user_path(current_user) %>><%= current_user.username %></a></h4>
            <hr>
            <% if current_user.current_plan %>
            <div class="row">
              <h4 class="col-xs-12">Current Plan: <a href=<%= plan_path(current_user.current_plan) %>><%= current_user.current_plan.title %></a></h4>
            </div>
            <% else %>
              <h4 class="text-center">Current Plan: N/A</h4>
            <% end %>
            <% if current_user.check_ins.any? %>
              <div class="well well-sm sidebar_table">
                <ul>
                  <ul class="list-inline row list_head">
                    <li class="col-xs-4 text-left">Check-in Date</li>
                    <li class="col-xs-4 text-center">Check-in Weight</li>
                    <li class="col-xs-4 text-right">Check-in BMI</li>
                  </ul>
                  <div class="sidebar_table_contents">
                    <% current_user.check_ins.each do |check| %>
                      <ul class="list-inline row">
                        <li class="col-xs-4 text-left"><%= check.created_at.strftime("%b %d, %Y") %></li>
                        <li class="col-xs-4 text-center"><%= check.weight %></li>
                        <li class="col-xs-4 text-center"><%= check.new_bmi %></li>
                      </ul>
                    <% end %>
                  </div>
                </ul>
              </div>
              <div class="well well-sm">
                <%= line_chart current_user.check_ins.group_by_week(:created_at).sum(:weight), min: nil, max: nil, height: "200px", discrete: true %>
              </div>
            <% else %>
              <h4 class="col-xs-12 text-center">Subscribe Today!</h4>
                
            <% end %>
            <div class="row">
              <div class="col-xs-4">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#PlanModal">Create Plan</button>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#LogModal">Daily Log</button>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#CheckinModal">Check-in</button>
              </div>
            </div>
            <br>
            <div class="col-xs-10 col-xs-offset-1">
              <%= button_to "Logout", logout_path, method: :delete, :class => "btn btn-primary btn-block" %>
            </div>
          <% else %>
            <h4>Login:</h4>
            <%= render partial: "layouts/login" %>
            <br>
            <h4>Register:</h4>
            <%= render partial: "layouts/user", locals: {user: @user} %>
          <% end %>
        </div>
      <% else %>
        <div class="col-xs-12">
          <%= yield %>
        </div>
      <% end %>
    </div>
    <div class="footer-top" id="footer">
      <div class="container">
        <div class="col-xs-7">
          <h3>About Us</h3>
          <p>
            Here at LiveDiet we strive for social health.
            By focusing on a supportive community driven by similar goals we hope to instill the confidence and drive in our users to succeed in whatever journey they find themselves on.
            A safe community, focused on goals and supporting one another. This is what we strive for.
          </p>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
          <h3>Contact Us</h3>
          <p>
            <div class="row">
              <div class="col-xs-4">
                <span class="glyphicon glyphicon-map-marker glyphicon-color"><strong> Address:</strong></span>
              </div>
              <div class="col-xs-8 footer-list">
                475 E. Market Street
                <br>
                Indianapolis, IN 46204
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <span class="glyphicon glyphicon-envelope glyphicon-color"><strong> Email:</strong></span>
              </div>
              <div class="col-xs-8 footer-list">
                Rittersm@gmail.com
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <span class="glyphicon glyphicon-earphone glyphicon-color"><strong> Phone:</strong></span>
              </div>
              <div class="col-xs-8 footer-list">
                (317)260-1521
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="col-xs-8">
          <ul class="list-inline list-color">
            <li><h5>Made With:</h5></li>
            <li>
              <i class="devicon-rails-plain"></i>
            </li>
            <li>
              <i class="devicon-javascript-plain"></i>
            </li>
            <li>
              <i class="devicon-postgresql-plain"></i>
            </li>
            <li>
              <i class="devicon-html5-plain"></i>
            </li>
            <li>
              <i class="devicon-sass-original"></i>
            </li>
            <li>
              <i class="devicon-bootstrap-plain"></i>
            </li>
            <li>
              <i class="devicon-atom-original"></i>
            </li>
          </ul>
        </div>
        <div class="col-xs-3">
          <ul class="list-inline list-color">
            <li><h5>Find Us:</h5></li>
            <li>
              <a href="https://github.com/Rittersm"><i class="devicon-github-plain"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/sean-ritter-b9b07a2a?trk=hp-identity-name"><i class="fa fa-linkedin-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>



    <% if current_user %>
      <div class="modal fade" id="PlanModal" tabindex="-1" role="dialog" aria-labelledby="PlanModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create New Plan:</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "plans/newplan" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="LogModal" tabindex="-1" role="dialog" aria-labelledby="LogModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Log Entry:</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "logs/newlog" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="CheckinModal" tabindex="-1" role="dialog" aria-labelledby="CheckinModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Check-In:</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "check_ins/newcheckin" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% unless current_user %>
      <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "layouts/login" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              <%= render partial: "layouts/user", locals: {user: @user} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
